@font-face {
    font-family: Abel;
    src: url('Abel-Regular.ttf');
}

@property --test {
  syntax: '<number>';
  initial-value: 1;
  inherits: false;
}
@property --scan_bar_width {
  syntax: '<percentage>';
  initial-value: 2%;
  inherits: false;
}

body {
    background-color: cornflowerblue;
    font-family: Abel;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.8);
}

iframe {
    position: fixed;
    z-index: -99999;
}

.hidden {
    display: none;
}

.c-pointer {
    cursor: pointer;
}

#version-identifier {
    position: fixed;
    font-size: smaller;
    pointer-events: none;
    opacity: 0.7;
    bottom: 1%;
    right: 1%;
    z-index: 50;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}
#loading-overlay .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 6rem;
}
#loading-overlay .content.spinner {
    width: 6rem;
    height: 6rem;
}

#overlay {
    z-index: 100;
}
#overlay .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}

#scan-exit-anchor {
    position: fixed;
    top: 0.6rem;
    right: 0.6rem;
    z-index: 13;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: 0.4rem solid rgba(0,0,0,0);
    cursor: pointer;
}
#scan-exit-anchor div{
    position: absolute;
    z-index: inherit;
    border-radius: 100% / 20%;
    height: 100%;
    width: 12.5%;
    background: white;
    transform-origin: center;
    left: 43.75%;/*50% - (12.5% / 2)*/
}
#scan-exit-anchor > div:nth-child(1){
    rotate: 45deg;
}
#scan-exit-anchor > div:nth-child(2){
    rotate: -45deg;
}
div.video_overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 12;
    transform: translate(-50%, -50%);
    /*box-shadow: 0 0 1000px 40px black;*/
}
div.video_overlay .border_bars {
    position: fixed;
    top: -2%;
    left: -2%;
    width: calc(100% / 0.96);/*Eigentlich: [100% / (100% - 2 * var(--scan_bar_width))]*/
    height: calc(100% / 0.96);
    background: white;
    clip-path: polygon(0 0, 25% 0, 25% var(--scan_bar_width), var(--scan_bar_width) var(--scan_bar_width), var(--scan_bar_width) 25%, 0 25%, 0 0, 100% 0, 100% 25%, calc(100% - var(--scan_bar_width)) 25%, calc(100% - var(--scan_bar_width)) var(--scan_bar_width), 75% var(--scan_bar_width), 75% 0, 100% 0, 100% 100%, 75% 100%, 75% calc(100% - var(--scan_bar_width)), calc(100% - var(--scan_bar_width)) calc(100% - var(--scan_bar_width)), calc(100% - var(--scan_bar_width)) 75%, 100% 75%, 100% 100%, 0 100%, 0 75%, var(--scan_bar_width) 75%, var(--scan_bar_width) calc(100% - var(--scan_bar_width)), 25% calc(100% - var(--scan_bar_width)), 25% 100%, 100% 100%, 100% 0);
}
div.video_overlay .background_blurr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: max(100vw, 100vh) solid rgba(0, 0, 0, 0.5);
}

#song-control-anchor {
    /*display: none;*/
    position: fixed;
    bottom: 10rem;
    left: 50%;
    height: 5%;
    transform: translate(-50%, 0);
    background-color: green;
}

#song-control-anchor .button {
    position: absolute;
    background-color: black;
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    box-shadow: black 0 0 5px;
    cursor: pointer;/*only affects pc devices*/
}
#song-control-anchor > .return-previous-song {
    right: 4rem;
    transition: 1s;
}
#song-control-anchor > .return-previous-song.solo {
    right: -3rem;
}
#song-control-anchor > .return-previous-song > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
}

#song-control-anchor > .qr-scan-trigger {
    left: 4rem;
    transition: 1s;
}
#song-control-anchor > .qr-scan-trigger.solo {
    left: -3rem;
}
#song-control-anchor > .qr-scan-trigger .visual {
    position: absolute;
    background-color: inherit;
    color: white;
    text-align: center;
    line-height: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 3rem;
}
#song-control-anchor > .qr-scan-trigger .visual.child {
    width: 1rem;
    height: 1rem;
    box-shadow: 
    white 1.1rem 1.1rem,
    white -1.1rem 1.1rem,
    white 1.1rem -1.1rem,
    white -1.1rem -1.1rem;
}

#song-control-anchor > .toggle-play {
    left: 0;
    transform: translate(-50%, 0);
}
#song-control-anchor > .toggle-play > * {
    position: absolute;
    height: 50%;
    width: 8%;
    border-radius: 50% / 9%;
    background-color: white;
    transform-origin: center;
    top: 25%;
    transition: .7s;
}
#song-control-anchor > .toggle-play > .a.play {
    right: 30%;
}
#song-control-anchor > .toggle-play > .b.play {
    right: 60%; 
}
#song-control-anchor > .toggle-play > .a.paused {
    top: 14%;
    right: 40%;
    rotate: 120deg;
}
#song-control-anchor > .toggle-play > .b.paused {
    top: 36%;
    right: 40%; 
    rotate: 60deg;
}


.corner {
    display: none !important;
}

#settings-anchor {
    position: fixed;
    bottom: 3rem;
    left: 3rem;
    height: 0;
    width: 0;
    z-index: 10;
}
#settings-anchor .button {
    position: absolute;
    background-color: black;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    box-shadow: black 0 0 5px 0.5rem, black 0 0 0 0.5rem;
    cursor: pointer;/*only affects pc devices*/
    left: -1.5rem;
    top: -1.5rem;
    /*color: white;
    text-align: center;
    line-height: 4rem;
    font-weight: bolder;
    font-size: 2.5rem;*/
    transition: 1s;
}
#settings-anchor .button.visible {
    rotate: 90deg;
}
#settings-anchor .menu {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(170, 170, 50, 1);
    height: 0;
    height: calc-size(auto, size * 0);
    width: 0rem;
    border-radius: .5rem;
    overflow: hidden;
    transition: 1s;
    text-align: center;
}
#settings-anchor .menu.visible {
    width: calc(calc(100vw - 6rem) * 1);
    height: auto;
    height: calc-size(auto, size * 1 + 1rem);
}
#settings-anchor > .menu > .title {
    font-size: 2rem;
    padding: 0.2rem;
}
#settings-anchor > .menu > .exit {
    position: absolute;
    top: 0;
    right: 0;
    height: 1rem;
    width: 1rem;
    padding: 0.5rem;
}
#settings-anchor .entry {
    outline: 1px solid white;
    overflow: hidden;
    margin-top: 1rem;
}
#settings-anchor .entry .content {
    transition: height .5s;
    height: 0;
    height: calc-size(auto, size * 0);
}
#settings-anchor .entry .content.visible {
    height: auto;
    height: calc-size(auto, size * 1);
}
#settings-anchor .entry .title {
    font-weight: bold;
    font-size: 1.2rem;
    background: black;
    color: white;
    margin: 0 18%;
    border-radius: 7rem;
    text-wrap: nowrap;
}
#settings-anchor .entry .title img {
    width: 1.2rem;
    height: 1.2rem;
}
#settings-anchor .entry .sub-title {
    font-weight: bold;
}

#help-anchor {
    position: fixed;
    top: 4%;
    left: 4%;
}
#help-anchor .button {
    position: absolute;
    background-color: black;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    box-shadow: black 0 0 5px;
    cursor: pointer;/*only affects pc devices*/
    left: 0;
    top: 0;
    color: white;
    text-align: center;
    line-height: 4rem;
    font-weight: bolder;
    font-size: 2.5rem;
}
#help-anchor .content {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 0rem;
    height: 0rem;
    background: red;
    overflow: hidden;
    transition: 2s ease-out;
}
#help-anchor .content.visible {
    top: -1rem;
    left: -1rem;
    width: 20rem;
    height: 20rem;
}
#help-anchor .content .exit {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5rem;
    outline: 1px solid black;
    font-weight: bolder;
    border-radius: 40%;
    cursor: pointer;
}

#connect-spotify-anchor {
    position: fixed;
    /*border-radius: 100%;
    width: 2rem;
    height: 2rem;
    color: white;
    text-align: center;
    line-height: 2rem;
    box-shadow: black 0 0 5px;
    cursor: pointer;
    bottom: 0;
    right: 0;
    z-index: 10;
    */
    top: 4%;
    right: 4%;
}
#connect-spotify-anchor .button {
    position: absolute;
    background-color: black;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    box-shadow: black 0 0 5px;
    cursor: pointer;/*only affects pc devices*/
    right: 0;
    top: 0;
}
#connect-spotify-anchor .button > img {
    position: absolute;
    top: .7rem;
    right: .7rem;
    /*background-color: red;*/
    border-radius: 15%;
    width: 2.6rem;
    height: 2.6rem;
}

#credits-anchor {
    position: fixed;
    bottom: 3%;
    right: 3%;
}
#credits-anchor .button {
    position: absolute;
    background-color: black;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    color: white;
    text-align: center;
    line-height: 2rem;
    box-shadow: black 0 0 5px;
    cursor: pointer;
    bottom: 0;
    right: 0;
    z-index: 10;
}
#credits-anchor .content {
    font-size: 1rem;
    padding: 0.1rem;
    overflow: hidden;
    text-align: center;
    width: 0px;
    height: 0px;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid black;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    transform-origin: bottom right;
    transition: 1s;
}
#credits-anchor .content.visible {
    width: 13rem;
    height: 7.5rem;
}
#credits-anchor .content .title {
    font-weight: bold;
}
#credits-anchor .content .entry:not(:nth-child(1)) {
    /*background-color: red;*/
    margin-top: 1rem;
}

#spotify-trigger {
    display: none;
}

#background-canvas {
    position: fixed;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    /*outline: 1px solid red;*/
    pointer-events: none;
}

/*#snapshot-trigger {
    position: fixed;
    width: calc(10rem + 10px);
    height: calc(10rem + 10px);
    line-height: calc(10rem + 10px);
    border-radius: calc(10rem + 10px);
    border: 1px solid rgba(254, 254, 254, 0.5);
    background-color: rgba(254, 254, 254, 0.5);
    text-align: center;
    font-size: calc(5rem + 5px);
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, 50%);
    z-index: 20;
}*/